<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="ServiceBus.ConnectionString" value="Endpoint=sb://millisecondjoonastest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=f8M3zzOWT7qbThRv06zoVrO/H64UTpOVBU3Ar3tU2j8=" />
	<add key="ServiceBus.queueName" value="joonasjono" />
	<add key="Database.Location" value="URI=file:D:\test.db" />
	<add key="Logging.Location" value="D:\" />
</appSettings>
</configuration>